.container-fluid {
  padding: 0;
  margin: 0;
}
.contFull {
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: absolute;
  background-size: 100% 100%;
  display: inline-flex;
  height: 100vh;
}
.contFull {
  margin: 0;
  padding: 0;
}
.loginID {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  background-image: url('../../assets/images/ic_mail.png');
  background-repeat: no-repeat;
  background-position: 290px 19px;
}
.pass {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  background-image: url('../../assets/images/ic_password.png');
  background-repeat: no-repeat;
  background-position: 290px 19px;
}
.leftText {
  height: 513px;
  top: 15%;

  color: #ffffff;
  padding: 0 40px 0 40px;
  font-family: Roboto;
  font-size: 54px;
  font-weight: bold;
  line-height: 75px;
}
.small {
  font-size: 30px;
    font-weight: 100;

  line-height: 35px;
  padding: 60px 60px 0 0;
}

.form {
  background-color: #fff;
  /*height: 100vh;*/
}
.ResponsOne {
  color: #000000;
  font-family: 'Proxima Nova';
  font-size: 42px;
  line-height: 44px;
  font-weight: 400;
  margin: auto;
  white-space: nowrap;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
  cursor: pointer;
}
.Absolute {
  position: relative;
  padding-top: 8%;

  cursor: pointer;
}
.Respons {
  position: relative;

  margin: auto;
  width: 50%;
  min-width: 400px;
  max-width: 414px;
  padding: 20px;
}

.center {
  height: 40px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 0;
  top: 10px;

  padding: 0px 12px 0 12px;
  left: 0;
  bottom: 0;
  right: 0;
}

.centerOne {
  color: #545454;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;

  text-align: center;
  height: 40px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 0;
  top: 10px;
  width: 90%;
  padding: 0px 12px 0 12px;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.signIn {
  height: 40px;
  width: 223px !important;
  border-radius: 100px;
  background-color: #24314a;
  margin: auto;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  margin-top: 50px;
  width: 100%;

  color: #fff;
  border: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.signIn:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(102, 175, 233, 0.6);
}
.text {
  color: #8e8e8e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;

  height: 52px;
  width: 334px;
  border-radius: 4px;
  background-color: #ffffff;
}
.forget {
  cursor: pointer;
  margin-top: 75px;
  height: 15px;
  width: 141px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
}

.forget:hover {
  color: #000;
  height: 15px;
  width: 141px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
}
.text-center {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center !important;
}
